- var projects = [{id: 1, prev: "first-preview.png", name: "Сайт школы образования", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}, {id: 2, prev: "second-site.png", name: "Ещё один сайт", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}, {id: 3, prev: "third-preview.png", name: "Сайт №3", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}]

section.projects
    h2.projects__title Мои работы
    .projects__container
        include projects-els/site-list.pug
        ul.preview__list(id="previewList")
            each item in projects
                li.preview__item
                    .item__cover
                        .prev
                            img(src=`/images/${item.prev}`, class="preview__image")
                        .number= item.id
                        .desc
                            .tools__container
                                button.tools__item HTML
                                button.tools__item CSS
                                button.tools__item Javascript
                            .desc__name= item.name
                            .desc__site-desc= item.desc
                            .desc__link(src=`${item.link}`) Посмотреть сайт

